body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1620px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:695px;
  top:740px;
  width:375px;
  height:167px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:167px;
}
#u1 {
  position:absolute;
  left:2px;
  top:76px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:677px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:677px;
}
#u3 {
  position:absolute;
  left:2px;
  top:330px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:19px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:19px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:48px;
  width:373px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:356px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:373px;
  height:1px;
}
#u7 {
  position:absolute;
  left:0px;
  top:510px;
  width:375px;
  height:167px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:167px;
}
#u8 {
  position:absolute;
  left:2px;
  top:76px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:138px;
  top:550px;
  width:100px;
  height:100px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u10 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:148px;
  top:560px;
  width:80px;
  height:80px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u12 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:298px;
  top:582px;
  width:35px;
  height:35px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u14 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:695px;
  top:490px;
  width:375px;
  height:167px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:167px;
}
#u16 {
  position:absolute;
  left:2px;
  top:76px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:741px;
  top:566px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:965px;
  top:566px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:36px;
  top:586px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:500px;
  top:230px;
  width:118px;
  height:32px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:32px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:965px;
  top:811px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:741px;
  top:811px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:1142px;
  top:740px;
  width:180px;
  height:70px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:70px;
}
#u30 {
  position:absolute;
  left:2px;
  top:27px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:1167px;
  top:767px;
  width:130px;
  height:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:130px;
  top:524px;
  width:118px;
  height:16px;
  color:#999999;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:503px;
  top:10px;
  width:97px;
  height:28px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:503px;
  top:54px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:503px;
  top:70px;
  width:131px;
  height:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:503px;
  top:96px;
  width:27px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:503px;
  top:111px;
  width:196px;
  height:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:500px;
  top:137px;
  width:540px;
  height:10px;
}
#u45_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_end {
  position:absolute;
  left:523px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_line {
  position:absolute;
  left:0px;
  top:5px;
  width:540px;
  height:1px;
}
#u46 {
  position:absolute;
  left:503px;
  top:157px;
  width:144px;
  height:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:380px;
  top:160px;
  width:120px;
  height:0px;
}
#u48_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:134px;
  height:20px;
}
#u49 {
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:500px;
  top:210px;
  width:540px;
  height:10px;
}
#u50_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_end {
  position:absolute;
  left:523px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_line {
  position:absolute;
  left:0px;
  top:5px;
  width:540px;
  height:1px;
}
#u51 {
  position:absolute;
  left:1153px;
  top:917px;
  width:158px;
  height:32px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:32px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:695px;
  top:667px;
  width:281px;
  height:48px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:48px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:695px;
  top:917px;
  width:281px;
  height:48px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:48px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:500px;
  top:284px;
  width:118px;
  height:120px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:120px;
}
#u58 {
  position:absolute;
  left:2px;
  top:52px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:509px;
  top:294px;
  width:100px;
  height:100px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u60 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:519px;
  top:304px;
  width:80px;
  height:80px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u62 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:500px;
  top:490px;
  width:118px;
  height:120px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:120px;
}
#u64 {
  position:absolute;
  left:2px;
  top:52px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:509px;
  top:500px;
  width:100px;
  height:100px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u66 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:519px;
  top:510px;
  width:80px;
  height:80px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u68 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:502px;
  top:741px;
  width:118px;
  height:120px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:120px;
}
#u70 {
  position:absolute;
  left:2px;
  top:52px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:500px;
  top:414px;
  width:53px;
  height:16px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:500px;
  top:620px;
  width:53px;
  height:16px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:502px;
  top:871px;
  width:168px;
  height:32px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:32px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:500px;
  top:432px;
  width:138px;
  height:16px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:16px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:500px;
  top:1010px;
  width:540px;
  height:10px;
}
#u79_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u79_end {
  position:absolute;
  left:523px;
  top:-5px;
  width:18px;
  height:20px;
}
#u79_line {
  position:absolute;
  left:0px;
  top:5px;
  width:540px;
  height:1px;
}
#u80 {
  position:absolute;
  left:1391px;
  top:740px;
  width:174px;
  height:103px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:103px;
}
#u81 {
  position:absolute;
  left:2px;
  top:44px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:1429px;
  top:780px;
  width:105px;
  height:16px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:1391px;
  top:917px;
  width:229px;
  height:13px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:13px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:511px;
  top:751px;
  width:100px;
  height:100px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u87 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:521px;
  top:761px;
  width:80px;
  height:80px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u89 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:511px;
  top:751px;
  width:100px;
  height:100px;
  -webkit-transform:rotate(255deg);
  -moz-transform:rotate(255deg);
  -ms-transform:rotate(255deg);
  transform:rotate(255deg);
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u91 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:1145px;
  top:490px;
  width:174px;
  height:103px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:103px;
}
#u93 {
  position:absolute;
  left:2px;
  top:44px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:1183px;
  top:530px;
  width:105px;
  height:16px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:1145px;
  top:658px;
  width:229px;
  height:13px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:13px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  word-wrap:break-word;
}
