body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:652px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u2 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u4 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:1px;
  top:623px;
  width:375px;
  height:44px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u6 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:29px;
  top:628px;
  width:22px;
  height:23px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:23px;
}
#u8 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:128px;
  top:628px;
  width:22px;
  height:21px;
  opacity:0.5;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:21px;
}
#u10 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:325px;
  top:628px;
  width:22px;
  height:22px;
  opacity:0.5;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u12 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:226px;
  top:628px;
  width:22px;
  height:22px;
  opacity:0.5;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u14 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:31px;
  top:652px;
  width:21px;
  height:13px;
  font-size:10px;
  color:#868686;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:129px;
  top:652px;
  width:21px;
  height:13px;
  font-size:10px;
  color:#BCBCBC;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:227px;
  top:652px;
  width:21px;
  height:13px;
  font-size:10px;
  color:#BCBCBC;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:327px;
  top:652px;
  width:21px;
  height:13px;
  font-size:10px;
  color:#BCBCBC;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:47px;
  top:68px;
  width:29px;
  height:16px;
  font-size:14px;
  color:#868686;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:298px;
  top:68px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#868686;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:173px;
  top:68px;
  width:29px;
  height:16px;
  font-size:14px;
  color:#868686;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:298px;
  top:84px;
  width:29px;
  height:10px;
}
#u29_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_end {
  position:absolute;
  left:12px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_line {
  position:absolute;
  left:0px;
  top:3px;
  width:29px;
  height:4px;
}
#u30 {
  position:absolute;
  left:109px;
  top:71px;
  width:17px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:17px;
  height:1px;
}
#u31 {
  position:absolute;
  left:245px;
  top:71px;
  width:17px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u31_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:5px;
  width:17px;
  height:1px;
}
#u32 {
  position:absolute;
  left:13px;
  top:89px;
  width:358px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:341px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:5px;
  width:358px;
  height:1px;
}
#u33 {
  position:absolute;
  left:13px;
  top:130px;
  width:40px;
  height:40px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u34 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:74px;
  top:130px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#6B6B6B;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:290px;
  top:137px;
  width:73px;
  height:26px;
  color:#FFFFFF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:26px;
}
#u38 {
  position:absolute;
  left:2px;
  top:5px;
  width:69px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:13px;
  top:104px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#CCCCCC;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:74px;
  top:155px;
  width:51px;
  height:15px;
  font-size:12px;
  color:#CCCCCC;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:13px;
  top:180px;
  width:361px;
  height:10px;
}
#u43_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_end {
  position:absolute;
  left:344px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_line {
  position:absolute;
  left:0px;
  top:5px;
  width:361px;
  height:1px;
}
#u44 {
  position:absolute;
  left:12px;
  top:269px;
  width:350px;
  height:19px;
  font-size:16px;
  color:#6B6B6B;
  line-height:19px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:19px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:12px;
  top:327px;
  width:350px;
  height:10px;
}
#u46_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_end {
  position:absolute;
  left:333px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_line {
  position:absolute;
  left:0px;
  top:5px;
  width:350px;
  height:1px;
}
#u47 {
  position:absolute;
  left:12px;
  top:239px;
  width:20px;
  height:20px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u48 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:36px;
  top:242px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#6B6B6B;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:317px;
  top:311px;
  width:45px;
  height:15px;
  font-size:11px;
  color:#949494;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:15px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:95px;
  top:311px;
  width:22px;
  height:15px;
  font-size:12px;
  color:#949494;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:15px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:34px;
  top:311px;
  width:28px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:15px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:72px;
  top:311px;
  width:18px;
  height:17px;
  opacity:0.4;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:17px;
}
#u58 {
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:12px;
  top:307px;
  width:19px;
  height:20px;
  opacity:0.5;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u60 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:127px;
  top:311px;
  width:1px;
  height:16px;
  font-size:12px;
  color:#949494;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:127px;
  top:311px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#949494;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:12px;
  top:586px;
  width:20px;
  height:20px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u66 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:36px;
  top:590px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#6B6B6B;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:12px;
  top:664px;
  width:350px;
  height:10px;
}
#u69_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_end {
  position:absolute;
  left:333px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_line {
  position:absolute;
  left:0px;
  top:5px;
  width:350px;
  height:1px;
}
#u70 {
  position:absolute;
  left:13px;
  top:115px;
  width:350px;
  height:10px;
}
#u70_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u70_end {
  position:absolute;
  left:333px;
  top:-5px;
  width:18px;
  height:20px;
}
#u70_line {
  position:absolute;
  left:0px;
  top:5px;
  width:350px;
  height:1px;
}
#u71 {
  position:absolute;
  left:13px;
  top:208px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#CCCCCC;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:13px;
  top:219px;
  width:350px;
  height:10px;
}
#u73_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_end {
  position:absolute;
  left:333px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_line {
  position:absolute;
  left:0px;
  top:5px;
  width:350px;
  height:1px;
}
#u74 {
  position:absolute;
  left:34px;
  top:23px;
  width:320px;
  height:25px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:25px;
}
#u75 {
  position:absolute;
  left:2px;
  top:4px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:176px;
  top:29px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#CCCCCC;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:43px;
  top:29px;
  width:16px;
  height:16px;
  opacity:0.5;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u79 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:1px;
  top:49px;
  width:373px;
  height:10px;
}
#u80_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u80_end {
  position:absolute;
  left:356px;
  top:-5px;
  width:18px;
  height:20px;
}
#u80_line {
  position:absolute;
  left:0px;
  top:5px;
  width:373px;
  height:1px;
}
#u81 {
  position:absolute;
  left:319px;
  top:104px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#CCCCCC;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:12px;
  top:369px;
  width:290px;
  height:19px;
  font-size:16px;
  color:#6B6B6B;
  line-height:19px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:19px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:12px;
  top:339px;
  width:20px;
  height:20px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u86 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:36px;
  top:343px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#6B6B6B;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:299px;
  top:546px;
  width:51px;
  height:15px;
  font-size:11px;
  color:#949494;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:34px;
  top:399px;
  width:307px;
  height:130px;
  color:#FCFCFC;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:130px;
}
#u92 {
  position:absolute;
  left:2px;
  top:57px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:95px;
  top:545px;
  width:19px;
  height:14px;
  font-size:11px;
  color:#949494;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:14px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:34px;
  top:545px;
  width:24px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:72px;
  top:545px;
  width:18px;
  height:17px;
  opacity:0.4;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:17px;
}
#u98 {
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:12px;
  top:541px;
  width:19px;
  height:20px;
  opacity:0.5;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u100 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:127px;
  top:545px;
  width:1px;
  height:16px;
  font-size:12px;
  color:#949494;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:127px;
  top:545px;
  width:44px;
  height:14px;
  font-size:11px;
  color:#949494;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:14px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:173px;
  top:453px;
  width:17px;
  height:23px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:23px;
}
#u106 {
  position:absolute;
  left:2px;
  top:4px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:181px;
  top:545px;
  width:27px;
  height:18px;
  font-size:11px;
  color:#949494;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u108 {
  position:absolute;
  left:2px;
  top:2px;
  width:23px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:12px;
  top:571px;
  width:350px;
  height:10px;
}
#u109_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u109_end {
  position:absolute;
  left:333px;
  top:-5px;
  width:18px;
  height:20px;
}
#u109_line {
  position:absolute;
  left:0px;
  top:5px;
  width:350px;
  height:1px;
}
#u110 {
  position:absolute;
  left:15px;
  top:678px;
  width:239px;
  height:48px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:48px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:15px;
  top:736px;
  width:27px;
  height:18px;
  font-size:11px;
  color:#949494;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u113 {
  position:absolute;
  left:2px;
  top:2px;
  width:23px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:55px;
  top:736px;
  width:49px;
  height:18px;
  font-size:11px;
  color:#949494;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:18px;
}
#u115 {
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:12px;
  top:774px;
  width:239px;
  height:16px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:16px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:413px;
  top:399px;
  width:239px;
  height:64px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:64px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:413px;
  top:473px;
  width:27px;
  height:18px;
  font-size:11px;
  color:#949494;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u121 {
  position:absolute;
  left:2px;
  top:2px;
  width:23px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:453px;
  top:473px;
  width:49px;
  height:18px;
  font-size:11px;
  color:#949494;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:18px;
}
#u123 {
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:410px;
  top:511px;
  width:239px;
  height:16px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:16px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
